.data {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: data-appear 1s ease-out forwards;
}

.data ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


@keyframes data-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-image {
  width: 16%;
  height: 7rem;
  z-index: 0;
  float:right;
  margin-top:-344px;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}